---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?app_id=KONCERT&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"098032b9aa8c3ff831fc941c9cadab4b"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11117057,"url":"http://www.bandsintown.com/event/11117057?app_id=KONCERT","datetime":"2016-01-18T19:00:00","ticket_url":"http://www.bandsintown.com/event/11117057/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Metropolitan Jazz Orchestra at DazzleJazz","url":"http://www.bandsintown.com/MetropolitanJazzOrchestraAtDazzlejazz","mbid":null}],"venue":{"id":2160733,"url":"http://www.bandsintown.com/venue/2160733","name":"DazzleJazz","city":"Denver","region":"CO","country":"United States","latitude":39.7309667,"longitude":-104.9860919},"ticket_status":"available","on_sale_datetime":null},
        {"id":11186189,"url":"http://www.bandsintown.com/event/11186189?app_id=KONCERT","datetime":"2016-01-18T19:00:00","ticket_url":"http://www.bandsintown.com/event/11186189/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Monday Night Menagerie","url":"http://www.bandsintown.com/MondayNightMenagerie","mbid":null},{"name":"The Swindlin' Hearts and Ghost Rev...","url":"http://www.bandsintown.com/TheSwindlin%27HeartsAndGhostRev...","mbid":null}],"venue":{"id":686967,"ur[...]
