---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?app_id=KONCERT&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b48fc00a4184c7a1bdd3f2b65c0691c4"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11131924,"url":"http://www.bandsintown.com/event/11131924?app_id=KONCERT","datetime":"2016-01-17T07:00:00","ticket_url":"http://www.bandsintown.com/event/11131924/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"On the Road to Memphis show","url":"http://www.bandsintown.com/OnTheRoadToMemphisShow","mbid":null},{"name":"Rex People","url":"http://www.bandsintown.com/RexPeople","mbid":null},{"name":"X Factr","url":"http://www.bandsintown.com/XFactr","mbid":null},{"name":"Randall Dubis","url":"http://www.bandsintown.com/RandallDubis","mbid":null},{"name":"Dan Treanor","url":"http://www.bandsintown.com/DanTreanor","mbid":null},{"name":"and Grace Kuch","url":"http://www.bandsintown.com/AndGraceKuch","mbid":null}],"venue":{"id":31956,"url":"http://www.bandsintown.com/venue/31956","name":"Buffalo Rose","city":"Golden","region":"CO","country":"United States","latitude":39.756088,"longitude":-105.221774},"ticket_status":"available","on_sale_datetime":null},
        {"id":11175079,"url":"http://www.bandsintown.com/event/11175079?app_id=KONCERT","datetime":"2016-01-17T10:00:00","ticket_url":"http://www.bandsintown.com/event/11175079/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Jim Cannon","url":"http://www.bandsintown.com/JimCannon","mbid":null}],"venue":{"id":2959988,"url":"http://www.bandsintown.com/venue/2959988","name":"Tenn Street Coffee \u0026 Books","city":"Denver","region":"CO","country":"United States","latitude"[...]
