---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?app_id=KONCERT&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2cb03eeb447bbd0b40374e600bb81bb2"'
    body:
      encoding: UTF-8
      string: |
        [{"id":10875691,"url":"http://www.bandsintown.com/event/10875691?app_id=KONCERT","datetime":"2016-01-20T09:30:00","ticket_url":"http://www.bandsintown.com/event/10875691/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Public Tour","url":"http://www.bandsintown.com/PublicTour","mbid":null}],"venue":{"id":1398636,"url":"http://www.bandsintown.com/venue/1398636","name":"Cherokee Ranch","city":"Sedalia","region":"CO","country":"United States","latitude":39.4576235,"longitude":-104.938246},"ticket_status":"available","on_sale_datetime":null},
        {"id":11161966,"url":"http://www.bandsintown.com/event/11161966?app_id=KONCERT","datetime":"2016-01-20T12:00:00","ticket_url":"http://www.bandsintown.com/event/11161966/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Minar Records","url":"http://www.bandsintown.com/MinarRecords","mbid":null}],"venue":{"id":3129238,"url":"http://www.bandsintown.com/venue/3129238","name":"MNR092: Yagiz Bayrak - Need \u0026 Want (Include Remixes)","city":"Denver","region":"CO","cou[...]
