---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/on_sale_soon.json?app_id=KONCERT&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"648c3e0081d3ae7257295caf6c85a274"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11200234,"url":"http://www.bandsintown.com/event/11200234?app_id=KONCERT","datetime":"2016-04-07T19:30:00","ticket_url":"http://www.bandsintown.com/event/11200234/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Country","url":"http://www.bandsintown.com/Country","mbid":null}],"venue":{"id":1047633,"url":"http://www.bandsintown.com/venue/1047633","name":"1stBank Center","city":"Broomfield","region":"CO","country":"United States","latitude":39.904547,"longitude":-105.086449},"ticket_status":"available","on_sale_datetime":"2016-01-22T10:00:00"},
        {"id":11213420,"url":"http://www.bandsintown.com/event/11213420?app_id=KONCERT","datetime":"2016-03-09T19:00:00","ticket_url":"http://www.bandsintown.com/event/11213420/buy_tickets?app_id=KONCERT\u0026came_from=233","artists":[{"name":"Charlie Puth","url":"http://www.bandsintown.com/CharliePuth","mbid":null}],"venue":{"id":1160773,"url":"http://www.bandsintown.com/venue/1160773","name":"Bluebird Theatre","city":"Denver","region":"CO","country":"United States","lat[...]
