<nav id="primary-navigation" class="row">
  <div class="nav-wrapper black">
    <div class="col s6">
    <ul class="hide-on-med-and-down offset-s1 nav-marg">
       <li>
         <a href="/" class="cyan-text text-accent-2 left brand-logo"><i class="material-icons left cyan-text text-accent-2">queue_music</i>Koncert</a>
       </li>
     </ul>

   </div>

    <ul id="nav-mobile" class="right hide-on-med-and-down nav-marg">
      <% if current_user %>
      <li><%= link_to "Logout", logout_path, class: "cyan-text text-accent-2" %></li>
        <% else %>
      <li><%= link_to "Login with Spotify", '/auth/spotify', class: "cyan-text text-accent-2" %></li>
        <% end %>
      <li><%= link_to "About", about_path, class: "cyan-text text-accent-2" %></li>
    </ul>
  </div>
</nav>
