<nav id="primary-navigation">
  <div class="nav-wrapper black">
    <ul class="left hide-on-med-and-down">
       <li><a href="/" class="teal-text text-accent-3 brand-logo"><i class="material-icons left teal-text teal-text text-accent-3">album</i>Khancert</a></li>
     </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down offset-s1">
      <li><%= link_to "Login", root_path, class: "teal-text text-accent-3" %></li>
      <li><%= link_to "Create Account", root_path, class: "teal-text text-accent-3" %></li>
    </ul>
  </div>
</nav>
