<div id="profile-card" class="row">
  <div class="col s5">
    <div class="center card trans-card white-text">
      <div id="ajax-profile">

      </div>
      <%= link_to "Generate a New Playlist", new_playlist_path, class: "btn-large cyan accent-2 black-text" %>
      <br></br>
      <%= link_to "Your Koncert Playlists", playlists_path, class: "btn-large cyan accent-2 black-text" %>
      <br></br>
    </div>
  </div>

  <div id="on-sale-card" class="col s7">
    <ul class="collection">
      <li class="collection-item trans-card white-text">
        <div class="row">
          <div class="center">
            <h5>On Sale Soon In Your Hood</h5>
          </div>
        </div>
      </li>
      <div id="latest-events">
      </div>
    </ul>
  </div>

</div>
