<h3> <%= image_tag(spotify_service.profile_image) %> <%= current_user.name %></h3>
<h5> <%= spotify_service.total_followers %> Followers </h5>
<h5> <%= spotify_service.total_artists_followed %> Artists Followed </h5>
