<h1>Khancert</h1>

<h5>
  Automatically generate a playlist of bands with upcoming shows in your city.
</h5>

<%= link_to 'Sign in with Spotify', '/auth/spotify',  class: "btn-large cyan accent-2 black-text" %>
