<div class="row">
  <div class="col s12">
      <div class="col s6 offset-s3 card trans-card">
        <div class="card-content white-text">
          <h4 class='center'>About Koncert</h4>
          <p>Koncert consumes the Bandsintown API to find artists with upcoming
            concerts in your area and then uses the Spotify API to create
            playlists from those artists' top Spotify tracks.</p>
            <br>
          <p>Koncert is my final project for the third module of the Web Application Development program at the Turing School of Software and
            Design.</p>
        </div>
        <div class="card-action center">
          <%= link_to "Home", root_path, class: "cyan-text text-accent-2" %>
          <a class="cyan-text text-accent-2" href="http://www.github.com/MattRooney/koncert">GitHub Repo</a>
          <%= link_to "Turing", "https://www.turing.io", class: "cyan-text text-accent-2" %>
        </div>
      </div>
  </div>
</div>
