<div class="row">
  <div class="col s12">
    <div class="col s6 offset-s3 card black">
      <div class="card-content white-text">
        <span class="card-title">About Koncert</span>
        <p>Koncert is my final project for the Turing School's third module. </p>
      </div>
      <div class="card-action">
        <%= link_to "Home", root_path, class: "cyan-text text-accent-2" %>
        <a class="cyan-text text-accent-2" href="http://www.github.com/MattRooney/koncert">GitHub Repo</a>
      </div>
    </div>
  </div>
</div>
