$(document).ready(function() {
  fetchProfile()
  fetchSpotifyPlaylists()
  // fetchArtistArray()
})

$('#create-playlist').click(function() {
  fetchPlaylistLocation()
})

function fetchProfile() {
  $.get("/current", function(currentUser) {
    $.ajax({
      type: "GET",
      url:"https://api.spotify.com/v1/me",
      headers: {'Authorization' : 'Bearer ' + currentUser.oauth_token },
      success: function(user) {
        var profImage = user.images[0].url
        $('#ajax-profile').append(
          '<div class="row">'+
            '<div class="col s5">' +
              '<img src="' + profImage + '" class="circle profile_img">' +
            '</div>' +
            '<div class="col s2 profile-name">' +
              '<h4>' + user.id + '</h4>' +
            '</div>' +
          '</div>' +
          '<h5 class="neg-margin">Followers: ' + user.followers.total + '</h5>' +
          '<br>' +
          '<iframe src="https://embed.spotify.com/?uri=spotify:track:0F0MA0ns8oXwGw66B2BSXm" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>' +
          '<br>'
        )
      },
      error: function(xhr) {
        console.log(xhr.responseText)
      }
    })
  })
}

function fetchSpotifyPlaylists() {
  $.get("/current", function(currentUser) {
    $.ajax({
      type: "GET",
      url:"https://api.spotify.com/v1/me/playlists",
      headers: {'Authorization' : 'Bearer ' + currentUser.oauth_token },
      success: function(responseObject) {
        var playlists = responseObject.items
        $.each(playlists, function(index, playlist) {
          $('#ajax-playlists').append(
            '<div id="playlist-link">' +
              '<a href="/playlists/' + playlist.id + '">'+ playlist.name +'</a>' +
            '</div><br>'
          )
        })
      },
      error: function(xhr) {
        console.log(xhr.responseText)
      }
    })
  }
)}



function fetchPlaylistLocation() {
  var param = $('#playlist-location').val()
  var city = param.replace(/ /g, "%20")

  fetchArtistArray(city)
  // var spotify_artists = fetchSpotifyArtists(artists)
  // var top_tracks = fetchTopTracks(spotify_artists)
  // var spotify_tracks = cleanTopTracks(top_tracks)
  // var spotify_playlist = initializePlaylist(spotify_tracks)
  // var playlist = addTracks(spotify_playlist, spotify_tracks)
  // renderEvents(events)
  // renderPlaylist(playlist)
  }

function fetchSpotifyArtists(artists) {
  $.each(artists, function(index, artist) {
    $.ajax({
      type: "GET",
      url: "https://api.spotify.com/v1/search?q="+ artist +"&type=artist",
    })
  })
}

// function fetchArtistArray(city) {
//   var location = city
//   $.ajax({
//     type: 'POST', // add track to playlist created at line 40
//     authorization: ,
//     dataType: ,
//     name: ,//first create spotify playlist\\})
//     $.ajax({
//       type: 'GET',
//       crossDomain: true,
//       dataType: "jsonp",
//       url: 'http://api.bandsintown.com/events/search.json?location='+location+'&app_id=KONCERT',
//       success: function(events) {
//         $.each(events, function(index, event) {
//           var artist = event.artists.shift().name
//           $.ajax({
//             type: 'GET',
//             crossDomain: true,
//             url: "https://api.spotify.com/v1/search?q=" + artist + "&type=artist",
//             success: function(artist) {
//               var id = artist.id
//               $.ajax({
//                 type: 'GET',
//                 crossDomain: true,
//                 url: "https://api.spotify.com/v1/artists/"+id+"/top-tracks?country=US",
//                 success: function(tracks) {
//                   var track = tracks.shift()
//                   $.ajax({
//                     type: 'POST', // add track to playlist created at line 40
//                     authorization: ,
//                     dataType: ,
//                     name: ,
//                   })
//                 }
//               })
//             }
//           })
//         }
//       )},
//       error: function(xhr) {
//         console.log(xhr.responseText)
//       }
//     })
//   })
// }
