body {
  background: image-url("background_one.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.profile_img {
  width: 80px;
  height: 80px;
  margin: 20px;
}
.profile-name {
  margin-top: 20px;
}
.profile_playlist {
  margin-top: 30px;
}
.neg-margin {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.trans-card {
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(black, 0.8) !important;
  padding-top: 1px;
  line-height: 1.25rem;

}
.trans-card h3 {
  color: #000000;
  }
.show-playlist {
  margin-top: 9px;
}
.border {
  border-radius: 2px;
  border-color: #000
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 2, 132, 130, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.nav-marg {
  margin-right: 90px;
  margin-left: 90px;
}
#primary-navigation {
  margin-bottom: 70px;
}
.custom-container {
  margin-left: 90px;
  margin-right: 90px;
}
.list-link {
  padding-top: 40px !important;
  margin-right: 30px;
}
