body {
  background: image-url("background_one.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.profile_img {
  width: 80px;
  height: 80px;
  margin: 20px;
}
.profile-name {
  margin: 20px;
}
.profile_playlist {
  margin-top: 30px;
}
.neg-margin {
  margin-bottom: 10px;
}
.trans-card {
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(black, 0.8) !important;
  padding-top: 1px;
  line-height: 1.25rem;

}
.trans-card h3 {
  color: #000000;
  }
.show-playlist {
  margin-top: 9px;
}
.border {
  border-radius: 2px;
  border-color: #000
}
