<div class="row">
  <%= render partial: "partials/profile" %>
    <%= link_to "Generate a New Playlist", new_playlist_path, class: "btn-large cyan accent-2 black-text" %>
    <br></br>
    <%= link_to "View Your Profile", current_user, class: "btn-large cyan accent-2 black-text" %>
    <br></br>
  </div>
</div>

  <div id="playlists-card" class="col s7">
    <div class="center card trans-card white-text">
      <h5>Your Koncert Playlists</h5>
      <br>
      <div id="ajax-playlists">

      </div>
    </div>
  </div>
</div>
