
<h3 class="center"> <%= @playlist.name %></h3>

<div class="row">
  <div class="col s4">
    <div class="show-playlist">
      <iframe src="https://embed.spotify.com/?uri=<%= @playlist.uri %>" width="350" height="600" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <%= link_to "Back to Your Playlists", playlists_path, class: "btn-large cyan accent-2 black-text center" %>
    <br>
  </div>

  <div class="col s7 offset-s1">
      <ul class="collection">
        <%= render partial: "partials/tickets" %>
      </ul>
    </div>
  </div>
</div>
<div class="modal"><!-- Place at bottom of page --></div>
